.text-primary {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.requiredField {
  color: #ff0000;
}
.errorInput {
  color: #ff0000;
  text-align: center;
  padding-bottom: 2em;
}
.errorMessage {
  background-color: #ff7272;
  color: white;
  padding: 1em;
  border-radius: 0.5em;
}

.submitBtnContainer {
  width: 100%;
  text-align: center;
}

.submitBtn {
  border: 1px solid #ffde59;
  border-radius: 20px;
  background: transparent;
  color: #ffde59;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.submitBtn:hover {
  background-color: #ccb147;
  border-color: #ccb147;
  color: white;
}

.submitBtn:focus {
  outline: none;
}
