body {
  margin: 0;
  height: 100%;
  font-family: "Fredericka the Great", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #545454;
}

p {
  font-family: "Open Sans", sans-serif;
}

html {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
